*{
  margin: 0;
  padding: 0;
}
*,
*:before,
*::after{
  box-sizing:inherit;
}

html{
  box-sizing:border-box;
  font-size:62.5%;
}

body{
  font-family: 'Playfair Display', serif;
}

.container{
  font-size: 1.6rem;
  /* border: 2px solid black; */
  font-family: 'Playfair Display', serif;
  height: 100vh;
}

.Heading{
  font-size: 4rem;
  text-align: center;
  /* background-color: navajowhite; */
  padding: 1rem;
}

.phoneNumber{
  border: 2px solid greenyellow;
}

form{
  display: flex;
  /* background-color: brown; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  width: 70%;
  /* border: 2px solid black; */
  background-color: rgba(255, 127, 80, 0.349);
  /* border-radius: 25px; */
  padding: 2rem 3rem;
}

.Add{
  margin-top: 1rem;
  /* width: 5rem; */
  padding: 1.2rem 4rem;
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  border: 1px solid black;
  /* border-left: 0; */
  border-radius:150px;
  font-weight: bold;
  background-color: azure;
  cursor: pointer;
}

.Add:hover{
  background-color:rgba(255, 127, 80, 0.781);
  /* background-color:rgb(233, 247, 247); */
}



.phoneList{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5rem;
  width: 60%;
}

.NameInput{
  width: 90%;
  padding: 1.2rem;
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
}

.NameInput:focus{
  outline-width: 0;
}


.NameInputContainer{
  align-items: center;
  width: 100%;
  display: flex;
  /* background-color: rgb(247, 162, 162); */
  justify-content: space-between;
  border: 2px solid black;
}

.Name{
  padding-left: 1rem;
  font-weight: bold;
  background-color: rgba(255, 127, 80, 0.801);
  padding: 1.1rem;
  width: 10rem;
}

.PhoneInputContainer{
  margin-top: .4rem;
  align-items: center;
  width: 100%;
  display: flex;
  /* background-color: rgb(247, 162, 162); */
  justify-content: space-between;
  border: 2px solid black;
}

.Number{
  padding-left: 1rem;
  font-weight: bold;
  background-color: rgba(255, 127, 80, 0.801);
  padding: 1.1rem;
  width: 10rem;
}

.phoneNumberContainer{
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  /* background-color: burlywood; */
  border: 2px solid black;
  padding: 2rem 4rem;
  /* border-radius: 150px 0 0 0; */
}

.phoneNumbers ul{
  margin-top: 2rem;
  list-style: none;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-content: space-around; */
  /* background-color: aqua;   */
  /* border: 2px solid black; */
}

h2{
  text-align: center;
  background-color:coral;
  margin: auto;
}

/* search */
.searchBar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: .4rem;
  margin-bottom: .4rem;
  /* padding-left:.6rem; */
  background-color: coral;
  border: 1px solid rgba(0, 0, 0, 0.664);
}

.search{
  width: 100%;
  padding: .8rem;
  font-size: 1.9rem;
  border: none;
  margin-right: 1rem;
}

.search:focus{
  outline-width: 0;
}

.searchIcon{
  margin-right: .6rem;
  border-radius: 0;
}

.delete{
  align-items: flex-end;
  padding: .4rem 1rem;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 2rem;
  /* margin-left: 4rem; */
  cursor: pointer;
  background-color: whitesmoke;
}

.delete:hover{
  background-color: crimson;
  color: azure;
}

ul li{
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  padding-left: .4rem;
  margin-top: .3rem;
  flex-grow: 1;
  background-color: rgba(255, 127, 80, 0.199);
}

@media screen and (max-width: 500px) {
  form{
    width: 120%;
  }
  .phoneNumberContainer{
    width: 120%;
    /* font-size: 1.2rem; */
  }
  ul li{
    font-size: 2rem;
  }
  .delete{
    padding: 1rem 2rem;
  }
}
