*{
  margin: 0;
  padding: 0;
}
*,
*:before,
*::after{
  box-sizing:inherit;
}

html{
  box-sizing:border-box;
  font-size:62.5%;
}

body{
  font-family: 'Playfair Display', serif;
}

.container{
  font-size: 1.6rem;
  /* border: 2px solid black; */
  font-family: 'Playfair Display', serif;
  height: 100vh;
}

.Heading{
  font-size: 4rem;
  text-align: center;
  /* background-color: navajowhite; */
  padding: 1rem;
}




